@import _mixins


.container-admin
  padding: 50px 0
  @media screen and (max-width: 959px)
    padding: 50px 20px
.block_sidebar
  width: 250px
  margin-right: 45px
  @media screen and (max-width: 959px)
    width: 100%
    margin-bottom: 30px
    margin-right: 0

  li
    margin-top: -1px
    &:first-child
      margin-top: 0
      a
        border-radius: 10px 10px 0 0
        @media screen and (max-width: 959px)
          border-radius: 0
    &.active
      a
        color: #fff
        background: #156cb0
        border-color: #156cb0
    a
      display: block
      padding: 10px
      font-style: normal
      font-family: Rubik, sans-serif
      color: #676767
      font-weight: 400
      text-decoration: none
      border: 1px solid #676767
      transition: all 0.35s
      @media screen and (max-width: 1250px)
        font-size: 14px
      &:hover
        transition: all 0.35s
        color: #fff
        background: #156cb0
        border-color: #156cb0


