@import _mixins



.block_menu_category
	margin-bottom: 90px
	position: relative
	@media screen and (max-width: 959px)
		margin-bottom: 50px
	&:after
		content: ""
		position: absolute
		top: 0
		width: 100%
		height: 1px
		left: 0
		background: linear-gradient(90deg, #f25c29 0%, #fed24b 100%)
	&:before
		content: ""
		position: absolute
		bottom: 0
		width: 100%
		height: 1px
		left: 0
		background: linear-gradient(90deg, #f25c29 0%, #fed24b 100%)


	.list_category
		text-align: right
		position: relative



		li.parent

			position: relative
			&:last-child
				> a
					&:after
						border-bottom: 20px solid #d8d8d8
						@media screen and (max-width: 959px)
							display: none
				.drop-menu
					left: inherit
					right: 0
			> a
				font-size: 18px
				color: $main-color-hover
				text-decoration: none
				font-weight: 300
				line-height: 40px
				display: block
				padding: 0 20px
				position: relative
				&:after
					content: ''
					position: absolute
					width: 0
					height: 0
					border-left: 20px solid transparent
					border-right: 20px solid transparent
					border-bottom: 20px solid #f6f6f6
					left: 50%
					margin-left: -20px
					top: 100%
					z-index: 12
					display: none
				@media screen and (max-width: 1920px)
				  	font-size: 16px
				@media screen and (max-width: 1250px)
					font-size: 14px
			&:hover
				&:after
					content: ""
					width: 640px
					position: absolute
					background: transparent
					top: 100%
					left: -100px
					height: 20px

				> a
					&:after
						display: block
						@media screen and (max-width: 959px)
							display: none
				.drop-menu
					display: block
					@media screen and (max-width: 959px)
						display: none
			.drop-menu
				display: none
				position: absolute
				top: calc(100% + 20px)
				width: 640px
				background: linear-gradient(90deg, #ffffff 0%, #d5d5d5 100%)
				box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.38)
				padding: 20px
				box-sizing: border-box
				z-index: 11
				text-align: left
				column-count: 2
				left: -100px
				li
					&.parent

						>a
							font-size: 18px
							text-decoration: underline
							padding: 0
							&:after
								display: none!important


					a
						text-decoration: none
						color:  #1f87e1
						font-size: 16px
						font-weight: 300
						text-align: left



