@import _mixins


.block_info
	background: linear-gradient(90deg, #6a2d8f 0%, #f25c29 100%)
	padding-bottom: 0

	.block-text

		h3
			font-size: 48px
			margin-bottom: 25px
			text-transform: none
			font-family: 'Rubik', sans-serif
			font-weight: 400
			padding-bottom: 20px
			border-bottom: 3px solid $main-color-hover
			@media screen and (max-width: 1920px)
				font-size: 36px
			@media screen and (max-width: 1250px)
				font-size: 28px
			@media screen and (max-width: 400px)
				font-size: 24px
		p
			font-family: 'Rubik', sans-serif
			font-weight: 300
			font-size: 19px
			color: #fff
			margin-bottom: 20px
			line-height: 1.3em
			@media screen and (max-width: 1920px)
				font-size: 16px
			@media screen and (max-width: 1250px)
				font-size: 14px
