@import _mixins
.link_form
  background: $main-color
  border-bottom: 5px solid $main-color-hover
  width: 306px
  display: block
  margin: auto
  color: #fff
  font-size: 24px
  line-height: 46px
  text-transform: uppercase
  text-decoration: none
  text-align: center
  @media screen and (max-width: 1800px)
  	font-size: 20px