@import _mixins
.link_form
  background: $main-color
  border-bottom: 5px solid $main-color-hover
  width: 306px
  display: block
  margin: auto
  color: #fff
  font-size: 24px
  line-height: 46px
  text-transform: uppercase
  text-decoration: none
  text-align: center
  @media screen and (max-width: 1920px)
  	font-size: 20px
  @media screen and (max-width: 1250px)
    font-size: 16px
    width: 200px
.gradient
  background: linear-gradient(90deg, $main-pink 0%, $main-purple 100%)