@import _mixins

footer
	position: relative
	padding: 60px 0 30px
	background: linear-gradient(90deg, #6a2d8f 0%, #f25c29 100%)

	&:before
		  content: ""
		  position: absolute
		  height: 10px
		  width: 100%
		  background: linear-gradient(90deg, #e01664 0%, #6a2d8f 100%)
		  top: 0
		  left: 0
	.list_category
		margin-bottom: 45px
		@media screen and (max-width: 500px)
			margin-bottom: 20px
		li.parent
			@media screen and (max-width: 750px)
				width: 33%
				margin-bottom: 15px
			@media screen and (max-width: 500px)
				width: 50%
				padding: 0 3px
				//margin-bottom: 15px
			a
				font-size: 20px
				color: #fff
				text-decoration: none
				font-weight: 300
				line-height: 1.3em
				font-family: Rubik, sans-serif
				display: block
				@media screen and (max-width: 1920px)
				  	font-size: 16px
				@media screen and (max-width: 1250px)
					font-size: 14px
			> a
			  font-weight: 400
			  margin-bottom: 20px


	.block_footer_info
		text-align: center

		.block-buttom
			margin-right: 25px
			a
				line-height: 45px
				text-decoration: none
				&.link_login
					background: $main-color-hover
					border-bottom: 5px solid $main-color
					width: 200px
					display: inline-block
					margin: auto
					color: #a24065
					font-size: 24px
					line-height: 45px
					text-transform: uppercase
					text-decoration: none
					text-align: center
					@media screen and (max-width: 1920px)
						font-size: 16px
						width: 70px
					@media screen and (max-width: 1250px)
						font-size: 14px
						width: 70px


				&.link_form
					display: inline-block
					line-height: 45px
					font-size: 24px
					@media screen and (max-width: 1920px)
						font-size: 16px
						width: 230px
					@media screen and (max-width: 1250px)
						font-size: 14px
						width: 200px

		@media screen and (max-width: 700px)
			.block-buttom
				display: block
				margin-bottom: 30px
				margin-right: auto

			.list-social
				display: block