@import _mixins

.chromeperfectpixel-initial-block iframe,
#chromeperfectpixel-supported-by
	display: none !important
#__bs_notify__
	display: none !important
	opacity: 0 !important

body
	font: $font-stack
	&.no-scroll
		overflow: hidden
	//&::-webkit-scrollbar
		height: 0
		width: 0

*
	transition: all .3s


//----------------------------------
// TEST
//----------------------------------
section.test-block
	margin: 100px 0
//----------------------------------
// END TEST
//----------------------------------


.block_buttom
	padding: 70px 0
	text-align: center
	span
		display: inline-block
		vertical-align: middle
		color: #fff
		font-size: 24px
		margin: 0 60px
		@media screen and (max-width: 1250px)
			font-size: 18px
			margin: 0 30px
		@media screen and (max-width: 600px)
			display: block
			margin-bottom: 20px
	.link_form
		font-size: 24px
		line-height: 46px
		vertical-align: middle
		@media screen and (max-width: 1920px)
			font-size: 18px
		//@media screen and (max-width: 1250px)
			font-size: 18px
		@media screen and (max-width: 600px)
			display: block
			margin-bottom: 20px
			&:last-child
				margin-bottom: 0