@import _mixins

//----------------------------------
// Default navbar
//----------------------------------
header
	.header
		&.fixed
		  position: fixed
		  display: none
		  width: 100%
		  opacity: 0
		  top: 0
		  left: 0
		&.no-scroll
			background: url("../img/bg/bg-header.png") no-repeat
			background-size: cover
			padding: 40px 0
			.block-text

				h3
					font-size: 100px
					color: $main-color-hover
					line-height: 1em
					margin-bottom: 30px
					text-transform: uppercase
					font-family: 'Rubik', sans-serif
					font-weight: 400
					span
					  display: block
					  color: #fff
					  font-size: 60px
					  text-transform: none

				p
					font-size: 36px
					color: #FFF
					line-height: 1.2em
					font-family: 'Rubik', sans-serif
					font-weight: 400
					span
					  color: $main-color-hover
					&.title
					  font-size: 54px
