


.block_table_services
    h3 Услуги по ремонту телефонов HTC
    .container.inline-layout
        .img-holder
            .image-holder
                img.fake-img(src="img/content/iphone-6.png" alt="iphone 6")
                .img(style="background: url('img/content/iphone-6.png') no-repeat;background-position: 50% 50%;background-repeat: no-repeat;background-size: cover;")
        .block-text
            .table-overflow
                table
                    tr
                        th ПРОБЛЕМА
                        th ЦЕНА РЕМОНТА
                            span в сервисном центре
                        th ЦЕНА РЕМОНТА
                            span с выездом мастера
                        th
                    tr
                        td Плохо ловит сигнал
                        td от 150 грн
                        td от 150 грн
                        td
                            a.link_form(href="#") подробнее

                    tr
                        td Сломалась батарея
                        td от 150 грн
                        td от 150 грн
                        td
                            a.link_form(href="#") подробнее
                    tr
                        td Не работает Wi-Fi
                        td от 150 грн
                        td от 150 грн
                        td
                            a.link_form(href="#") подробнее
                    tr
                        td Плохо ловит сигнал
                        td от 150 грн
                        td от 150 грн
                        td
                            a.link_form(href="#") подробнее

                    tr
                        td Сломалась батарея
                        td от 150 грн
                        td от 150 грн
                        td
                            a.link_form(href="#") подробнее
                    tr
                        td Не работает Wi-Fi
                        td от 150 грн
                        td от 150 грн
                        td
                            a.link_form(href="#") подробнее
