


.block_table_problem

    .container
        h3 Часто возникающие проблемы с телефонами HTC
        .inline-layout

            .block-text
                .table-overflow
                    table
                        tr
                            th ПРОБЛЕМА
                            th ЦЕНА РЕМОНТА
                                span в сервисном центре
                            th ЦЕНА РЕМОНТА
                                span с выездом мастера
                            th
                        tr
                            td Плохо ловит сигнал
                            td от 150 грн
                            td от 150 грн
                            td
                                a.link_form(href="#") подробнее

                        tr
                            td Сломалась батарея
                            td от 150 грн
                            td от 150 грн
                            td
                                a.link_form(href="#") подробнее
                        tr
                            td Не работает Wi-Fi
                            td от 150 грн
                            td от 150 грн
                            td
                                a.link_form(href="#") подробнее
                        tr
                            td Плохо ловит сигнал
                            td от 150 грн
                            td от 150 грн
                            td
                                a.link_form(href="#") подробнее

                        tr
                            td Сломалась батарея
                            td от 150 грн
                            td от 150 грн
                            td
                                a.link_form(href="#") подробнее
                        tr
                            td Не работает Wi-Fi
                            td от 150 грн
                            td от 150 грн
                            td
                                a.link_form(href="#") подробнее
            .img-holder
                .image-holder
                    img.fake-img(src="img/content/img_block_problem.png" alt="Услуги по ремонту телефонов HTC")
                    .img(style="background: url('img/content/img_block_problem.png') no-repeat;background-position: 50% 50%;background-repeat: no-repeat;background-size: cover;")
