


.block_gift
    .container.inline-layout.col-2
        .img-holder
            .image-holder
                img.fake-img(src="img/content/iphone-6.png" alt="iphone 6")
                .img(style="background: url('img/content/iphone-6.png') no-repeat;background-position: 50% 50%;background-repeat: no-repeat;background-size: cover;")
        .block-text
            h3 Каждому 1000 клиенту
                br
                | б/у iPhone X в подарок
            p какой-то текст про условия акции
            a.link_form(href="#") подробнее
