
.block_model_repair
    .container
        .block_table.inline-layout
            .column
                .th-tablet Устройство:
                .td-tablet.device_name
                    span iPhone 5
                    .list_model_device.inline-layout.col-7
                        .colum
                            h4 iPhone
                            .list_model
                                a(href="#") iPhone 4
                                a.active(href="#") iPhone 5
                                a(href="#") iPhone 6
                                a(href="#") iPhone 7

                        .colum
                            h4 iPhone
                            .list_model
                                a(href="#") iPhone 4
                                a(href="#") iPhone 5
                                a(href="#") iPhone 6

                        .colum
                            h4 iPhone
                            .list_model
                                a(href="#") iPhone 4
                                a(href="#") iPhone 5
                                a(href="#") iPhone 6
                                a(href="#") iPhone 7
                        .colum
                            h4 iPhone
                            .list_model
                                a(href="#") iPhone 4
                                a(href="#") iPhone 5
                                a(href="#") iPhone 6
                                a(href="#") iPhone 7
                        .colum
                            h4 iPhone
                            .list_model
                                a(href="#") iPhone 4
                                a(href="#") iPhone 5

                        .colum
                            h4 iPhone
                            .list_model
                                a(href="#") iPhone 4
                                a(href="#") iPhone 5
                                a(href="#") iPhone 6
                                a(href="#") iPhone 7
                        .colum
                            h4 MacBook
                            .list_model
                                a(href="#") MacBook New 12" Retina A1534

            .column
                .th-tablet Проблема:
                .td-tablet.device_problem
                    a.open_modal(href="#device_problem") Сеть ловит плохо
            .column
                .th-tablet Отзывы:
                .td-tablet.device_like
                    a(href="#")
                        img(src="img/icons/icon-like2.png" alt="like")


            .column
                .th-tablet Цена:
                .td-tablet.device_price.inline-loyout.col-2
                    a(href="#") Замена П/О
                    a(href="#") Замена материнской платы
