

.block_menu_category
    .container

        .list_category
            ul.list_url.inline-layout
                li.parent
                    a(href="#") Nokia
                    ul.drop-menu
                        li.parent
                            a(href="#") HTC
                            ul
                                li
                                    a(href="#") Замена дисплея
                                li
                                    a(href="#") Замена задней крышки
                                li
                                    a(href="#") Замена кнопки включения
                                li
                                    a(href="#") Замена кнопок громкости
                                li
                                    a(href="#") Замена кнопок корпуса (клавиатуры)
                                li
                                    a(href="#") Замена кнопок громкости
                                li
                                    a(href="#") Замена кнопок корпуса (клавиатуры)

                        li.parent
                            a(href="#") HTC
                            ul
                                li
                                    a(href="#") Замена дисплея
                                li
                                    a(href="#") Замена задней крышки
                                li
                                    a(href="#") Замена кнопки включения
                                li
                                    a(href="#") Замена кнопок громкости
                                li
                                    a(href="#") Замена кнопок корпуса (клавиатуры)
                        li.parent
                            a(href="#") HTC
                            ul
                                li
                                    a(href="#") Замена дисплея
                                li
                                    a(href="#") Замена задней крышки
                                li
                                    a(href="#") Замена кнопки включения
                                li
                                    a(href="#") Замена кнопок громкости
                                li
                                    a(href="#") Замена кнопок корпуса (клавиатуры)
                                li
                                    a(href="#") Замена кнопок громкости
                                li
                                    a(href="#") Замена кнопок корпуса (клавиатуры)

                        li.parent
                            a(href="#") HTC
                            ul
                                li
                                    a(href="#") Замена дисплея
                                li
                                    a(href="#") Замена задней крышки
                                li
                                    a(href="#") Замена кнопки включения
                                li
                                    a(href="#") Замена кнопок громкости
                                li
                                    a(href="#") Замена кнопок корпуса (клавиатуры)



                li.parent
                    a(href="#") HTC
                    ul.drop-menu

                            li.parent
                                a(href="#") HTC
                                ul
                                    li
                                        a(href="#") Замена дисплея
                                    li
                                        a(href="#") Замена задней крышки
                                    li
                                        a(href="#") Замена кнопки включения
                                    li
                                        a(href="#") Замена кнопок громкости
                                    li
                                        a(href="#") Замена кнопок корпуса (клавиатуры)
                                    li
                                        a(href="#") Замена кнопок громкости
                                    li
                                        a(href="#") Замена кнопок корпуса (клавиатуры)

                            li.parent
                                a(href="#") HTC
                                ul
                                    li
                                        a(href="#") Замена дисплея
                                    li
                                        a(href="#") Замена задней крышки
                                    li
                                        a(href="#") Замена кнопки включения
                                    li
                                        a(href="#") Замена кнопок громкости
                                    li
                                        a(href="#") Замена кнопок корпуса (клавиатуры)
                            li.parent
                                a(href="#") HTC
                                ul
                                    li
                                        a(href="#") Замена дисплея
                                    li
                                        a(href="#") Замена задней крышки
                                    li
                                        a(href="#") Замена кнопки включения
                                    li
                                        a(href="#") Замена кнопок громкости
                                    li
                                        a(href="#") Замена кнопок корпуса (клавиатуры)
                                    li
                                        a(href="#") Замена кнопок громкости
                                    li
                                        a(href="#") Замена кнопок корпуса (клавиатуры)

                            li.parent
                                a(href="#") HTC
                                ul
                                    li
                                        a(href="#") Замена дисплея
                                    li
                                        a(href="#") Замена задней крышки
                                    li
                                        a(href="#") Замена кнопки включения
                                    li
                                        a(href="#") Замена кнопок громкости
                                    li
                                        a(href="#") Замена кнопок корпуса (клавиатуры)


                li.parent
                    a(href="#") Samsung
                    ul.drop-menu
                        li.parent
                            a(href="#") HTC
                            ul
                                li
                                    a(href="#") Замена дисплея
                                li
                                    a(href="#") Замена задней крышки
                                li
                                    a(href="#") Замена кнопки включения
                                li
                                    a(href="#") Замена кнопок громкости
                                li
                                    a(href="#") Замена кнопок корпуса (клавиатуры)
                                li
                                    a(href="#") Замена кнопок громкости
                                li
                                    a(href="#") Замена кнопок корпуса (клавиатуры)

                        li.parent
                            a(href="#") HTC
                            ul
                                li
                                    a(href="#") Замена дисплея
                                li
                                    a(href="#") Замена задней крышки
                                li
                                    a(href="#") Замена кнопки включения
                                li
                                    a(href="#") Замена кнопок громкости
                                li
                                    a(href="#") Замена кнопок корпуса (клавиатуры)
                        li.parent
                            a(href="#") HTC
                            ul
                                li
                                    a(href="#") Замена дисплея
                                li
                                    a(href="#") Замена задней крышки
                                li
                                    a(href="#") Замена кнопки включения
                                li
                                    a(href="#") Замена кнопок громкости
                                li
                                    a(href="#") Замена кнопок корпуса (клавиатуры)
                                li
                                    a(href="#") Замена кнопок громкости
                                li
                                    a(href="#") Замена кнопок корпуса (клавиатуры)

                        li.parent
                            a(href="#") HTC
                            ul
                                li
                                    a(href="#") Замена дисплея
                                li
                                    a(href="#") Замена задней крышки
                                li
                                    a(href="#") Замена кнопки включения
                                li
                                    a(href="#") Замена кнопок громкости
                                li
                                    a(href="#") Замена кнопок корпуса (клавиатуры)



                li.parent
                    a(href="#") LG
                    ul.drop-menu
                        li.parent
                            a(href="#") HTC
                            ul
                                li
                                    a(href="#") Замена дисплея
                                li
                                    a(href="#") Замена задней крышки
                                li
                                    a(href="#") Замена кнопки включения
                                li
                                    a(href="#") Замена кнопок громкости
                                li
                                    a(href="#") Замена кнопок корпуса (клавиатуры)
                                li
                                    a(href="#") Замена кнопок громкости
                                li
                                    a(href="#") Замена кнопок корпуса (клавиатуры)

                        li.parent
                            a(href="#") HTC
                            ul
                                li
                                    a(href="#") Замена дисплея
                                li
                                    a(href="#") Замена задней крышки
                                li
                                    a(href="#") Замена кнопки включения
                                li
                                    a(href="#") Замена кнопок громкости
                                li
                                    a(href="#") Замена кнопок корпуса (клавиатуры)
                        li.parent
                            a(href="#") HTC
                            ul
                                li
                                    a(href="#") Замена дисплея
                                li
                                    a(href="#") Замена задней крышки
                                li
                                    a(href="#") Замена кнопки включения
                                li
                                    a(href="#") Замена кнопок громкости
                                li
                                    a(href="#") Замена кнопок корпуса (клавиатуры)
                                li
                                    a(href="#") Замена кнопок громкости
                                li
                                    a(href="#") Замена кнопок корпуса (клавиатуры)

                        li.parent
                            a(href="#") HTC
                            ul
                                li
                                    a(href="#") Замена дисплея
                                li
                                    a(href="#") Замена задней крышки
                                li
                                    a(href="#") Замена кнопки включения
                                li
                                    a(href="#") Замена кнопок громкости
                                li
                                    a(href="#") Замена кнопок корпуса (клавиатуры)




                li.parent
                    a(href="#") Philips
                    ul.drop-menu
                        li.parent
                            a(href="#") HTC
                            ul
                                li
                                    a(href="#") Замена дисплея
                                li
                                    a(href="#") Замена задней крышки
                                li
                                    a(href="#") Замена кнопки включения
                                li
                                    a(href="#") Замена кнопок громкости
                                li
                                    a(href="#") Замена кнопок корпуса (клавиатуры)
                                li
                                    a(href="#") Замена кнопок громкости
                                li
                                    a(href="#") Замена кнопок корпуса (клавиатуры)

                        li.parent
                            a(href="#") HTC
                            ul
                                li
                                    a(href="#") Замена дисплея
                                li
                                    a(href="#") Замена задней крышки
                                li
                                    a(href="#") Замена кнопки включения
                                li
                                    a(href="#") Замена кнопок громкости
                                li
                                    a(href="#") Замена кнопок корпуса (клавиатуры)
                        li.parent
                            a(href="#") HTC
                            ul
                                li
                                    a(href="#") Замена дисплея
                                li
                                    a(href="#") Замена задней крышки
                                li
                                    a(href="#") Замена кнопки включения
                                li
                                    a(href="#") Замена кнопок громкости
                                li
                                    a(href="#") Замена кнопок корпуса (клавиатуры)
                                li
                                    a(href="#") Замена кнопок громкости
                                li
                                    a(href="#") Замена кнопок корпуса (клавиатуры)

                        li.parent
                            a(href="#") HTC
                            ul
                                li
                                    a(href="#") Замена дисплея
                                li
                                    a(href="#") Замена задней крышки
                                li
                                    a(href="#") Замена кнопки включения
                                li
                                    a(href="#") Замена кнопок громкости
                                li
                                    a(href="#") Замена кнопок корпуса (клавиатуры)



                li.parent
                    a(href="#") Sony
                    ul.drop-menu
                        li.parent
                            a(href="#") HTC
                            ul
                                li
                                    a(href="#") Замена дисплея
                                li
                                    a(href="#") Замена задней крышки
                                li
                                    a(href="#") Замена кнопки включения
                                li
                                    a(href="#") Замена кнопок громкости
                                li
                                    a(href="#") Замена кнопок корпуса (клавиатуры)
                                li
                                    a(href="#") Замена кнопок громкости
                                li
                                    a(href="#") Замена кнопок корпуса (клавиатуры)

                        li.parent
                            a(href="#") HTC
                            ul
                                li
                                    a(href="#") Замена дисплея
                                li
                                    a(href="#") Замена задней крышки
                                li
                                    a(href="#") Замена кнопки включения
                                li
                                    a(href="#") Замена кнопок громкости
                                li
                                    a(href="#") Замена кнопок корпуса (клавиатуры)
                        li.parent
                            a(href="#") HTC
                            ul
                                li
                                    a(href="#") Замена дисплея
                                li
                                    a(href="#") Замена задней крышки
                                li
                                    a(href="#") Замена кнопки включения
                                li
                                    a(href="#") Замена кнопок громкости
                                li
                                    a(href="#") Замена кнопок корпуса (клавиатуры)
                                li
                                    a(href="#") Замена кнопок громкости
                                li
                                    a(href="#") Замена кнопок корпуса (клавиатуры)

                        li.parent
                            a(href="#") HTC
                            ul
                                li
                                    a(href="#") Замена дисплея
                                li
                                    a(href="#") Замена задней крышки
                                li
                                    a(href="#") Замена кнопки включения
                                li
                                    a(href="#") Замена кнопок громкости
                                li
                                    a(href="#") Замена кнопок корпуса (клавиатуры)



                li.parent
                    a(href="#") Проблемы с телефонами Nokia
                    ul.drop-menu
                        li.parent
                            a(href="#") HTC
                            ul
                                li
                                    a(href="#") Замена дисплея
                                li
                                    a(href="#") Замена задней крышки
                                li
                                    a(href="#") Замена кнопки включения
                                li
                                    a(href="#") Замена кнопок громкости
                                li
                                    a(href="#") Замена кнопок корпуса (клавиатуры)
                                li
                                    a(href="#") Замена кнопок громкости
                                li
                                    a(href="#") Замена кнопок корпуса (клавиатуры)

                        li.parent
                            a(href="#") HTC
                            ul
                                li
                                    a(href="#") Замена дисплея
                                li
                                    a(href="#") Замена задней крышки
                                li
                                    a(href="#") Замена кнопки включения
                                li
                                    a(href="#") Замена кнопок громкости
                                li
                                    a(href="#") Замена кнопок корпуса (клавиатуры)
                        li.parent
                            a(href="#") HTC
                            ul
                                li
                                    a(href="#") Замена дисплея
                                li
                                    a(href="#") Замена задней крышки
                                li
                                    a(href="#") Замена кнопки включения
                                li
                                    a(href="#") Замена кнопок громкости
                                li
                                    a(href="#") Замена кнопок корпуса (клавиатуры)
                                li
                                    a(href="#") Замена кнопок громкости
                                li
                                    a(href="#") Замена кнопок корпуса (клавиатуры)

                        li.parent
                            a(href="#") HTC
                            ul
                                li
                                    a(href="#") Замена дисплея
                                li
                                    a(href="#") Замена задней крышки
                                li
                                    a(href="#") Замена кнопки включения
                                li
                                    a(href="#") Замена кнопок громкости
                                li
                                    a(href="#") Замена кнопок корпуса (клавиатуры)


                li.parent
                    a(href="#") Услуги по ремонту телефонов Nokia
                    ul.drop-menu
                        li.parent
                            a(href="#") HTC
                            ul
                                li
                                    a(href="#") Замена дисплея
                                li
                                    a(href="#") Замена задней крышки
                                li
                                    a(href="#") Замена кнопки включения
                                li
                                    a(href="#") Замена кнопок громкости
                                li
                                    a(href="#") Замена кнопок корпуса (клавиатуры)
                                li
                                    a(href="#") Замена кнопок громкости
                                li
                                    a(href="#") Замена кнопок корпуса (клавиатуры)

                        li.parent
                            a(href="#") HTC
                            ul
                                li
                                    a(href="#") Замена дисплея
                                li
                                    a(href="#") Замена задней крышки
                                li
                                    a(href="#") Замена кнопки включения
                                li
                                    a(href="#") Замена кнопок громкости
                                li
                                    a(href="#") Замена кнопок корпуса (клавиатуры)
                        li.parent
                            a(href="#") HTC
                            ul
                                li
                                    a(href="#") Замена дисплея
                                li
                                    a(href="#") Замена задней крышки
                                li
                                    a(href="#") Замена кнопки включения
                                li
                                    a(href="#") Замена кнопок громкости
                                li
                                    a(href="#") Замена кнопок корпуса (клавиатуры)
                                li
                                    a(href="#") Замена кнопок громкости
                                li
                                    a(href="#") Замена кнопок корпуса (клавиатуры)

                        li.parent
                            a(href="#") HTC
                            ul
                                li
                                    a(href="#") Замена дисплея
                                li
                                    a(href="#") Замена задней крышки
                                li
                                    a(href="#") Замена кнопки включения
                                li
                                    a(href="#") Замена кнопок громкости
                                li
                                    a(href="#") Замена кнопок корпуса (клавиатуры)

