mixin itemModel (name, url)
    .item
        a(href= url )= name

.block_model_category
    .container
        h3 Выберете модель устройства
        .list_model_link
            .row.inline-layout
                    .item
                            img(src="img/content/img_tablet.jpg" alt="img_tablet")
                    +itemModel(
                    'One mini',
                    '#'
                    )
                    +itemModel(
                    'One X',
                    '#'
                    )
                    +itemModel(
                    'One S',
                    '#'
                    )
                    +itemModel(
                    'One V',
                    '#'
                    )
                    +itemModel(
                    'Desire C',
                    '#'
                    )
                    +itemModel(
                    'Sensation',
                    '#'
                    )
                    +itemModel(
                    'Wildfire S',
                    '#'
                    )
                    +itemModel(
                    'One M7',
                    '#'
                    )

                    +itemModel(
                    'One M8',
                    '#'
                    )
                    +itemModel(
                    'Desire X',
                    '#'
                    )
                    +itemModel(
                    'Desire HD',
                    '#'
                    )
                    +itemModel(
                    'Butterfly S',
                    '#'
                    )
                    +itemModel(
                    'Evo 3d',
                    '#'
                    )

            .row.inline-layout
                    .item
                            img(src="img/content/img_phone.jpg" alt="img_phone")
                    +itemModel(
                    'One mini',
                    '#'
                    )
                    +itemModel(
                    'One X',
                    '#'
                    )
                    +itemModel(
                    'One S',
                    '#'
                    )
                    +itemModel(
                    'One V',
                    '#'
                    )
                    +itemModel(
                    'Desire C',
                    '#'
                    )
                    +itemModel(
                    'Sensation',
                    '#'
                    )
                    +itemModel(
                    'Wildfire S',
                    '#'
                    )
                    +itemModel(
                    'One M7',
                    '#'
                    )

                    +itemModel(
                    'One M8',
                    '#'
                    )
                    +itemModel(
                    'Desire X',
                    '#'
                    )
                    +itemModel(
                    'Desire HD',
                    '#'
                    )
                    +itemModel(
                    'Butterfly S',
                    '#'
                    )
                    +itemModel(
                    'Evo 3d',
                    '#'
                    )
            .row.inline-layout
                .item
                        img(src="img/content/img_phone.jpg" alt="img_phone")
                +itemModel(
                'One mini',
                '#'
                )
                +itemModel(
                'One X',
                '#'
                )
                +itemModel(
                'One S',
                '#'
                )
                +itemModel(
                'One V',
                '#'
                )
                +itemModel(
                'Desire C',
                '#'
                )
                +itemModel(
                'Sensation',
                '#'
                )
                +itemModel(
                'Wildfire S',
                '#'
                )
                +itemModel(
                'One M7',
                '#'
                )

                +itemModel(
                'One M8',
                '#'
                )
                +itemModel(
                'Desire X',
                '#'
                )
                +itemModel(
                'Desire HD',
                '#'
                )
                +itemModel(
                'Butterfly S',
                '#'
                )
                +itemModel(
                'Evo 3d',
                '#'
                )

            .buttom-holder
                        .link_all.show_all открыть все
                        .link_all.hide_all свернуть