


.block_table_problem_htc

    .container
        h3 Часто возникающие проблемы с телефонами HTC


        .block-text
            .table-overflow
                table
                    tr
                        th Модель
                        th Замена дисплея
                        th Замена дисплея
                        th Замена дисплея
                        th Замена дисплея
                        th Замена дисплея
                        th Замена дисплея
                        th Замена дисплея

                    tr
                        td One mini
                        td от 150 грн
                        td от 150 грн
                        td от 150 грн
                        td от 150 грн
                        td от 150 грн
                        td от 150 грн
                        td от 150 грн

                    tr
                        td One X
                        td от 150 грн
                        td от 150 грн
                        td от 150 грн
                        td от 150 грн
                        td от 150 грн
                        td от 150 грн
                        td от 150 грн
                    tr
                        td One S
                        td от 150 грн
                        td от 150 грн
                        td от 150 грн
                        td от 150 грн
                        td от 150 грн
                        td от 150 грн
                        td от 150 грн

                    tr
                        td One V
                        td от 150 грн
                        td от 150 грн
                        td от 150 грн
                        td от 150 грн
                        td от 150 грн
                        td от 150 грн
                        td от 150 грн

                    tr
                        td Desire C
                        td от 150 грн
                        td от 150 грн
                        td от 150 грн
                        td от 150 грн
                        td от 150 грн
                        td от 150 грн
                        td от 150 грн
                    tr
                        td Sensation
                        td от 150 грн
                        td от 150 грн
                        td от 150 грн
                        td от 150 грн
                        td от 150 грн
                        td от 150 грн
                        td от 150 грн
                    tr
                        td Wildfire S
                        td от 150 грн
                        td от 150 грн
                        td от 150 грн
                        td от 150 грн
                        td от 150 грн
                        td от 150 грн
                        td от 150 грн

                    tr
                        td One M7
                        td от 150 грн
                        td от 150 грн
                        td от 150 грн
                        td от 150 грн
                        td от 150 грн
                        td от 150 грн
                        td от 150 грн

                    tr
                        td One M8
                        td от 150 грн
                        td от 150 грн
                        td от 150 грн
                        td от 150 грн
                        td от 150 грн
                        td от 150 грн
                        td от 150 грн
                    tr
                        td Desire X
                        td от 150 грн
                        td от 150 грн
                        td от 150 грн
                        td от 150 грн
                        td от 150 грн
                        td от 150 грн
                        td от 150 грн

        a.link_form.open_modal(href="#") подобрать сервис