mixin itemfeedback ()
    .item.inline-layout
        .info_feedback.inline-layout
            .info_name
                .name Максим Цымбалист
                .date 26.11.2016
            .text_feedback
                .text_plus Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                .text_minus Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

            .info_date
                .date_call.inline-layout
                    span Звонок клиента в сервис:
                    span 26.11.2016 в 23:47
                .date_call.inline-layout
                    span Мы собрали отзыв:
                    span 26.11.2016 в 23:47

        .rating_info
            .rating_label оценка
            .rating_number 4,9

.block_list_feedback
    .container
        h3 Отзывы клиентов
        .list_feedback

            +itemfeedback()
            +itemfeedback()
            +itemfeedback()
            +itemfeedback()
        include ./pagination.jade