

.block_menu_category
    .container

        .list_category
            ul.list_url.inline-layout
                li
                    a(href="#") BlackBerry
                    //ul.drop-menu
                        li.parent
                            a(href="#") HTC
                            //ul
                                li
                                    a(href="#") Замена дисплея
                                li
                                    a(href="#") Замена задней крышки
                                li
                                    a(href="#") Замена кнопки включения
                                li
                                    a(href="#") Замена кнопок громкости
                                li
                                    a(href="#") Замена кнопок корпуса (клавиатуры)
                                li
                                    a(href="#") Замена кнопок громкости
                                li
                                    a(href="#") Замена кнопок корпуса (клавиатуры)

                        li.parent
                            a(href="#") HTC
                            //ul
                                li
                                    a(href="#") Замена дисплея
                                li
                                    a(href="#") Замена задней крышки
                                li
                                    a(href="#") Замена кнопки включения
                                li
                                    a(href="#") Замена кнопок громкости
                                li
                                    a(href="#") Замена кнопок корпуса (клавиатуры)
                        li.parent
                            a(href="#") HTC
                            //ul
                                li
                                    a(href="#") Замена дисплея
                                li
                                    a(href="#") Замена задней крышки
                                li
                                    a(href="#") Замена кнопки включения
                                li
                                    a(href="#") Замена кнопок громкости
                                li
                                    a(href="#") Замена кнопок корпуса (клавиатуры)
                                li
                                    a(href="#") Замена кнопок громкости
                                li
                                    a(href="#") Замена кнопок корпуса (клавиатуры)

                        li.parent
                            a(href="#") HTC
                            //ul
                                li
                                    a(href="#") Замена дисплея
                                li
                                    a(href="#") Замена задней крышки
                                li
                                    a(href="#") Замена кнопки включения
                                li
                                    a(href="#") Замена кнопок громкости
                                li
                                    a(href="#") Замена кнопок корпуса (клавиатуры)



                li
                    a(href="#") Asus

                li
                    a(href="#") Alcatel



                li
                    a(href="#") Acer



                li
                    a(href="#") Google



                li
                    a(href="#") HTC


                li
                    a(href="#") Huawei


                li
                    a(href="#") Lenovo

                li
                    a(href="#") LG
                li
                    a(href="#") Microsoft
                li
                    a(href="#") Motorola
                li
                    a(href="#") Nokia
                li
                    a(href="#") Samsung
                li
                    a(href="#") Sony

                li
                    a(href="#") Xiaomi
                li
                    a(href="#") Adcom
                li
                    a(href="#") Archos
                li
                    a(href="#") Blu
                li
                    a(href="#") Celkon
                li
                    a(href="#") Coolpad
                li
                    a(href="#") Fly
                li
                    a(href="#") Gionee


                li
                    a(href="#") iBall
                li
                    a(href="#") iBerry
                li
                    a(href="#") Idea
                li
                    a(href="#") InFocus
                li
                    a(href="#") Intex
                li
                    a(href="#") Karbonn
                li
                    a(href="#") Lava
                li
                    a(href="#") LeEco

                li
                    a(href="#") Lyf
                li
                    a(href="#") Maxx Mobile
                li
                    a(href="#") Meizu
                li
                    a(href="#") Micromax
                li
                    a(href="#") MTS
                li
                    a(href="#") Obi
                li
                    a(href="#") Oppo
                li
                    a(href="#") Panasonic

                li
                    a(href="#") Philips
                li
                    a(href="#") Ringing Bells
                li
                    a(href="#") Spice
                li
                    a(href="#") Swipe
                li
                    a(href="#") Videocon


            .buttom-holder
                .link_all.show_all открыть все
                .link_all.hide_all свернуть