
mixin itemPS ()
    .item
        h4 Общие проблемы
        .list_problem
            a(href="#" )
                span Не работает Wi-Fi
                span.price от 200 грн

            a(href="#" )
                span Не включается
                span.price от 200 грн
            a(href="#" )
                span Попала влага
                span.price от 200 грн
            a(href="#" )
                span Забыт пароль
                span.price от 200 грн
            a(href="#" )
                span Зависает (обновить ПО)
                span.price от 200 грн
            a(href="#" )
                span Просит Itunes
                span.price от 200 грн

.block_problem_service
    .container.inline-layout.col-4
        +itemPS()
        +itemPS()
        +itemPS()
        +itemPS()
        +itemPS()
        +itemPS()
        +itemPS()

