.block_repair
    .container
        h3 xFIX.com.ua - это выездной ремонт
            br
            | iPhone, iPad и Samsung
        .block_text.inline-layout
            .text-right Мастер по ремонту приедет
                br
                | с запчастями и инструментами
            .block_img
                .img-holder
                    img(src="img/icons/icon-cafe.png" alt="title")
                span В КАФЕ
            .text-left и сделает ремонт при Вас
                br
                | в течение 15-30 минут


        .list_repair.inline-layout
            .item
                .img-holder
                    img(src="img/icons/icon-time.png" alt="title")
                p Срочный выезд мастера
            .item
                .img-holder
                    img(src="img/icons/icon-setting.png" alt="title")
                p Все запчасти
                    br
                    | высшего качества
            .item
                .img-holder
                    img(src="img/icons/icon-feedback.png" alt="title")
                p Невероятные отзывы

        a.link_form.open_modal(href="#") подобрать сервис