
.block_model_repair
    .container
        .block_table.inline-layout
            .column
                .th-tablet Устройство:
                .td-tablet.device_name
                    span HTC / One S
            .column
                .th-tablet Проблема:
                .td-tablet.device_problem
                    span Сеть ловит плохо
            .column
                .th-tablet Отзывы:
                .td-tablet.device_like
                    a(href="#")
                        img(src="img/icons/icon-like2.png" alt="like")


            .column
                .th-tablet Цена:
                .td-tablet.device_price.inline-loyout.col-2
                    a(href="#") Замена П/О
                    a(href="#") Замена материнской платы
