mixin itemModel (name, url)
    .item
        a(href= url )= name

.block_model_category
    .container
        h3
            img(src="img/content/img_phone.jpg" alt="Выберете модель устройства")
            | &nbsp;Выберете модель устройства

        .list_model_link

            .row.inline-layout

                +itemModel('Galaxy A3',
                '#'
                )
                +itemModel('Galaxy A5',
                '#'
                )
                +itemModel('Galaxy A7',
                '#'
                )
                +itemModel('Galaxy C7 Pro',
                '#'
                )
                +itemModel('Galaxy J2 Ace',
                '#'
                )
                +itemModel('Galaxy J1 (4G)',
                '#'
                )
                +itemModel('Galaxy J1 Mini Prime',
                '#'
                )
                +itemModel('W2017',
                '#'
                )
                +itemModel('Galaxy C9 Pro',
                '#'
                )
                +itemModel('Galaxy On Nxt',
                '#'
                )
                +itemModel('Galaxy A8',
                '#'
                )
                +itemModel('Galaxy On8',
                '#'
                )
                +itemModel('Galaxy On7',
                '#'
                )
                +itemModel('Galaxy J5 Prime',
                '#'
                )
                +itemModel('Galaxy Folder 2',
                '#'
                )
                +itemModel('Galaxy J7 Prime',
                '#'
                )
                +itemModel('Galaxy J2 DTV',
                '#'
                )
                +itemModel('Z2',
                '#'
                )
                +itemModel('Galaxy Note7',
                '#'
                )
                +itemModel('Galaxy On7 Pro',
                '#'
                )
                +itemModel('Galaxy On5 Pro',
                '#'
                )
                +itemModel('Galaxy J1 Ace Neo',
                '#'
                )
                +itemModel('Galaxy J2',
                '#'
                )
                +itemModel('Galaxy Wide',
                '#'
                )
                +itemModel('Galaxy S7 Active',
                '#'
                )
                +itemModel('Galaxy J3 Pro',
                '#'
                )
                +itemModel('Galaxy Xcover 3 Value Edition',
                '#'
                )
                +itemModel('Galaxy J7',
                '#'
                )
                +itemModel('Galaxy J1',
                '#'
                )
                +itemModel('Galaxy J1 mini',
                '#'
                )
                +itemModel('Galaxy S7 Edge',
                '#'
                )
                +itemModel('Galaxy S7',
                '#'
                )
                +itemModel('Galaxy A9 Pro',
                '#'
                )
                +itemModel('Galaxy J5',
                '#'
                )
                +itemModel('Galaxy Note 5 Dual SIM',
                '#'
                )
                +itemModel('Galaxy A9',
                '#'
                )
                +itemModel('W2016',
                '#'
                )
                +itemModel('Galaxy J3 (6)',
                '#'
                )
                +itemModel('Galaxy On7',
                '#'
                )
                +itemModel('Galaxy On5',
                '#'
                )
                +itemModel('Galaxy Active Neo',
                '#'
                )
                +itemModel('Galaxy J1 Ace',
                '#'
                )
                +itemModel('Galaxy Core Prime VE',
                '#'
                )
                +itemModel('Galaxy J2',
                '#'
                )
                +itemModel('G9198',
                '#'
                )
                +itemModel('Metro B350E',
                '#'
                )
                +itemModel('Galaxy S6 Edge+',
                '#'
                )
                +itemModel('Galaxy Note 5',
                '#'
                )
                +itemModel('Galaxy S4 mini plus',
                '#'
                )
                +itemModel('Galaxy S5 Neo',
                '#'
                )
                +itemModel('Galaxy Folder',
                '#'
                )
                +itemModel('Galaxy A8',
                '#'
                )
                +itemModel('Galaxy J7',
                '#'
                )
                +itemModel('Galaxy J5',
                '#'
                )
                +itemModel('Galaxy S6 Active',
                '#'
                )
                +itemModel('Galaxy Xcover 3',
                '#'
                )
                +itemModel('Galaxy Win 2 Duos',
                '#'
                )
                +itemModel('Galaxy S6 Edge',
                '#'
                )
                +itemModel('Galaxy S6',
                '#'
                )
                +itemModel('Galaxy S Duos 3-VE',
                '#'
                )
                +itemModel('Galaxy A3 Duos',
                '#'
                )
                +itemModel('Galaxy J1 4G',
                '#'
                )
                +itemModel('Galaxy Grand Prime 4G',
                '#'
                )
                +itemModel('Galaxy Core Prime 4G',
                '#'
                )
                +itemModel('Galaxy J1',
                '#'
                )
                +itemModel('Galaxy Grand Neo Plus',
                '#'
                )
                +itemModel('Z1',
                '#'
                )
                +itemModel('Galaxy A7 Duos',
                '#'
                )
                +itemModel('Galaxy A7',
                '#'
                )
                +itemModel('Galaxy Grand Max',
                '#'
                )
                +itemModel('Galaxy Prevail LTE',
                '#'
                )
                +itemModel('Galaxy E7',
                '#'
                )
                +itemModel('Galaxy E5',
                '#'
                )
                +itemModel('Galaxy Note 4 S-LTE',
                '#'
                )
                +itemModel('Galaxy A5 Duos',
                '#'
                )
                +itemModel('Galaxy A3',
                '#'
                )
                +itemModel('Galaxy A5',
                '#'
                )
                +itemModel('Galaxy Note 4 Duos',
                '#'
                )
                +itemModel('Galaxy Core Max',
                '#'
                )
                +itemModel('Galaxy Grand Prime',
                '#'
                )
                +itemModel('Galaxy Ace Style LTE',
                '#'
                )
                +itemModel('Galaxy S Duos 3',
                '#'
                )
                +itemModel('Galaxy Note 4',
                '#'
                )
                +itemModel('Galaxy Note Edge',
                '#'
                )
                +itemModel('Galaxy Mega 2',
                '#'
                )
                +itemModel('Galaxy S5 Plus',
                '#'
                )
                +itemModel('Galaxy Alpha',
                '#'
                )
                +itemModel('Galaxy S5 Mini Duos',
                '#'
                )
                +itemModel('Galaxy Avant',
                '#'
                )
                +itemModel('Galaxy Star 2',
                '#'
                )
                +itemModel('Guru Music 2',
                '#'
                )
                +itemModel('Metro 312',
                '#'
                )
                +itemModel('Galaxy Ace NXT',
                '#'
                )
                +itemModel('Galaxy Star Advance',
                '#'
                )
                +itemModel('Galaxy S5-LTE',
                '#'
                )
                +itemModel('Galaxy S5 mini',
                '#'
                )
                +itemModel('Galaxy Core 2',
                '#'
                )
                +itemModel('Galaxy Ace 4 LTE',
                '#'
                )
                +itemModel('Galaxy Ace 4',
                '#'
                )
                +itemModel('Galaxy Core Mini 4G',
                '#'
                )
                +itemModel('Galaxy S5 Sport',
                '#'
                )
                +itemModel('Galaxy S5 LTE-A',
                '#'
                )
                +itemModel('S III Neo',
                '#'
                )
                +itemModel('Galaxy Core Lite',
                '#'
                )
                +itemModel('Z',
                '#'
                )
                +itemModel('Galaxy S5 Active',
                '#'
                )
                +itemModel('Galaxy S4 Value Edition',
                '#'
                )
                +itemModel('SM-G9098',
                '#'
                )
                +itemModel('Galaxy K zoom',
                '#'
                )
                +itemModel('Galaxy Beam 2',
                '#'
                )
                +itemModel('Galaxy Tab 3 10.1 3G',
                '#'
                )
                +itemModel('Galaxy Ace Style',
                '#'
                )
                +itemModel('Ativ SE',
                '#'
                )
                +itemModel('Galaxy S3 Neo',
                '#'
                )
                +itemModel('Galaxy S5',
                '#'
                )
                +itemModel('Galaxy S3 Slim',
                '#'
                )
                +itemModel('Galaxy S III mini Value Edition',
                '#'
                )
                +itemModel('Galaxy Core 4G',
                '#'
                )
                +itemModel('Galaxy Mega Plus',
                '#'
                )
                +itemModel('Galaxy Star Trios',
                '#'
                )
                +itemModel('Galaxy Core Prime',
                '#'
                )
                +itemModel('Galaxy Note 3 Neo',
                '#'
                )
                +itemModel('Galaxy Grand Neo',
                '#'
                )
                +itemModel('Galaxy S III Neo+',
                '#'
                )
                +itemModel('Galaxy Core Advance',
                '#'
                )
                +itemModel('Galaxy Win Pro',
                '#'
                )
                +itemModel('Galaxy S Duos 2',
                '#'
                )
                +itemModel('Galaxy Grand 2',
                '#'
                )
                +itemModel('Galaxy Core Plus',
                '#'
                )
                +itemModel('W2014',
                '#'
                )
                +itemModel('Galaxy Express 2',
                '#'
                )
                +itemModel('Galaxy Trend Lite',
                '#'
                )
                +itemModel('Galaxy Fame Lite',
                '#'
                )
                +itemModel('Galaxy J',
                '#'
                )
                +itemModel('Galaxy Round',
                '#'
                )
                +itemModel('Galaxy Star Pro',
                '#'
                )
                +itemModel('Galaxy Trend 3',
                '#'
                )
                +itemModel('Galaxy Trend',
                '#'
                )
                +itemModel('Galaxy Note 3',
                '#'
                )
                +itemModel('Galaxy Golden',
                '#'
                )
                +itemModel('W789',
                '#'
                )
                +itemModel('Galaxy S4 Mini',
                '#'
                )
                +itemModel('Galaxy S4 Zoom',
                '#'
                )
                +itemModel('Galaxy Ace 3',
                '#'
                )
                +itemModel('Galaxy S4 Active',
                '#'
                )
                +itemModel('Galaxy Mega 6.3',
                '#'
                )
                +itemModel('Galaxy Mega 5.8',
                '#'
                )
                +itemModel('Galaxy Grand Quattro',
                '#'
                )
                +itemModel('Galaxy Core',
                '#'
                )
                +itemModel('Galaxy Young',
                '#'
                )
                +itemModel('Galaxy Y Plus',
                '#'
                )
                +itemModel('Galaxy Win Duos',
                '#'
                )
                +itemModel('Galaxy Win',
                '#'
                )
                +itemModel('Galaxy Star',
                '#'
                )
                +itemModel('Galaxy S4',
                '#'
                )
                +itemModel('Galaxy Pocket Neo',
                '#'
                )
                +itemModel('Galaxy Fame',
                '#'
                )
                +itemModel('Metro 2252',
                '#'
                )
                +itemModel('E1282T',
                '#'
                )
                +itemModel('Rex 90',
                '#'
                )
                +itemModel('Rex 80',
                '#'
                )
                +itemModel('Rex 70',
                '#'
                )
                +itemModel('Rex 60',
                '#'
                )
                +itemModel('GT-E2202',
                '#'
                )
                +itemModel('Galaxy S II Plus',
                '#'
                )
                +itemModel('Galaxy Grand Duos',
                '#'
                )
                +itemModel('Galaxy S Duos',
                '#'
                )
                +itemModel('Galaxy Note II',
                '#'
                )
                +itemModel('E1207T',
                '#'
                )
                +itemModel('Galaxy Music',
                '#'
                )
                +itemModel('Guru 1200',
                '#'
                )
                +itemModel('Champ Neo Duos',
                '#'
                )
                +itemModel('Galaxy Y Duos Lite',
                '#'
                )
                +itemModel('Galaxy Ch@t',
                '#'
                )
                +itemModel('Omnia M',
                '#'
                )
                +itemModel('Galaxy Ace Duos',
                '#'
                )
                +itemModel('Guru 1205',
                '#'
                )
                +itemModel('Galaxy S III',
                '#'
                )
                +itemModel('Galaxy Y CDMA',
                '#'
                )
                +itemModel('Galaxy Pocket',
                '#'
                )
                +itemModel('Champ Deluxe Duos',
                '#'
                )
                +itemModel('Galaxy Y Duos',
                '#'
                )
                +itemModel('Galaxy Beam',
                '#'
                )
                +itemModel('Galaxy Ace Plus',
                '#'
                )
                +itemModel('Star 3 Duos',
                '#'
                )
                +itemModel('Galaxy S Advance',
                '#'
                )
                +itemModel('B229',
                '#'
                )
                +itemModel('Wave M',
                '#'
                )
                +itemModel('Galaxy Y Pro Duos',
                '#'
                )
                +itemModel('Wave Y',
                '#'
                )
                +itemModel('Galaxy Note',
                '#'
                )
                +itemModel('Champ 2',
                '#'
                )
                +itemModel('Wave 3',
                '#'
                )
                +itemModel('Galaxy Y',
                '#'
                )
                +itemModel('Primo Duos',
                '#'
                )
                +itemModel('Primo',
                '#'
                )
                +itemModel('Z3',
                '#'
                )

            .buttom-holder
                .link_all.show_all открыть все
                .link_all.hide_all свернуть
