.block_advantages
    .container
        h3 xFIX.com.ua - это сайт-помощник
            br
            | в поиске сервисного центра

        .block_text
            .text-overflow
                div
                    .logo
                        .img-holder
                            img(src="img/content/logo-xfix.png" alt="XFIX")
                    ul.advantages_text
                        li
                            span.number 1287
                            span Лучших сервисных центра Украины
                        li
                            span.number 4783
                            span Довольных клиента
                        li
                            span.number 2467
                            span Положительных отзыва
                        li
                            span.number 2467
                            span Акций от сервисных центров
                    a.link_form.open_modal(href="#") подобрать сервис

        .list_advantages
            .item
                .icon-overflow
                    div
                        .img-holder
                            img(src="img/icons/icon-advantages1.png" alt="title")
            .item
                .icon-overflow
                    div
                        .img-holder
                            img(src="img/icons/icon-advantages2.png" alt="title")
            .item
                .icon-overflow
                    div
                        .img-holder
                            img(src="img/icons/icon-advantages3.png" alt="title")
            .item
                .icon-overflow
                    div
                        .img-holder
                            img(src="img/icons/icon-advantages4.png" alt="title")