
.block_sidebar
    nav
        ul
            li.active
                a(href="#") All users
            li
                a(href="#") Verified
            li
                a(href="#") Banned
            li
                a(href="#") Deleted