
.block_calculation
    .container
        h3 Онлайн расчет стоимости ремонта
        form.form_calculation.inline-layout
            .form-holder
                select(name="device" data-validate="select")
                    option(value=""   checked) устройство
                    option(value="2") устройство 2
                    option(value="3") устройство 3
            .form-holder
                select(name="problem" data-validate="select")
                    option(value=""   checked) Проблема
                    option(value="2") Проблема 2
                    option(value="3") Проблема 3
            .form-holder
                select(name="city" data-validate="select")
                    option(value=""   checked) Ваш город
                    option(value="2") Киев
                    option(value="3") Черкассы

            .form-holder
                input(type="submit" value="показать цену")