
.block_text_feedback.gradient
    .container
        h3 Отзывы о сервисном центре
        .block_text Только реальные отзывы. Сотрудники xFix.com собирают отзывы о сервисах через несколько дней после ремонта, разговаривая с клиентами по телефону.
        a.open_modal.link_form(href="#add_feedback") ОСТАВИТЬ ОТЗЫВ


