
mixin linkFooter (name, url)
    li
        a(href= url )= name


footer
    .container
        .list_category
            ul.list_url.inline-layout.col-5
                li.parent
                    a(href="#") Для партнеров
                    ul
                        +linkFooter(
                        'Презентация',
                        '#'
                        )
                        +linkFooter(
                        'Условия партнерства',
                        '#'
                        )
                        +linkFooter(
                        'Договор-оферта',
                        '#'
                        )
                        +linkFooter(
                        'Добавить организацию',
                        '#'
                        )


                li.parent
                    a(href="#") Компания
                    ul
                        +linkFooter(
                        'О проекте',
                        '#'
                        )
                        +linkFooter(
                        'Контакты 144 сервисов',
                        '#'
                        )
                        +linkFooter(
                        'Контакты для партнеров',
                        '#'
                        )
                        +linkFooter(
                        'Реквизиты',
                        '#'
                        )

                li.parent
                    a(href="#") Самое популярное
                    ul
                        +linkFooter(
                        'Ремонт iPhone',
                        '#'
                        )
                        +linkFooter(
                        'Ремонт iPad',
                        '#'
                        )
                        +linkFooter(
                        'Ремонт Samsung',
                        '#'
                        )


                li.parent
                    a(href="#") Компания
                    ul
                        +linkFooter(
                        'О проекте',
                        '#'
                        )
                        +linkFooter(
                        'Контакты 144 сервисов',
                        '#'
                        )
                        +linkFooter(
                        'Контакты для партнеров',
                        '#'
                        )
                        +linkFooter(
                        'Реквизиты',
                        '#'
                        )

                li.parent
                    a(href="#") Для партнеров
                    ul
                        +linkFooter(
                        'Презентация',
                        '#'
                        )
                        +linkFooter(
                        'Условия партнерства',
                        '#'
                        )
                        +linkFooter(
                        'Договор-оферта',
                        '#'
                        )
                        +linkFooter(
                        'Добавить организацию',
                        '#'
                        )

        .block_footer_info.inline-layout
            .block-buttom.inline-layout
                a.open-modal.link_login(href="#") вход
                a.open-modal.link_form(href="#") добавить организацию
            .list-social
                ul.inline-layout
                    li
                        a(href="#" target="_balnk")
                            i.fa.fa-vk

                    li
                        a(href="#" target="_balnk")
                            i.fa.fa-facebook
                    li
                        a(href="#" target="_balnk")
                            i.fa.fa-instagram
                    li
                        a(href="#" target="_balnk")
                            i.fa.fa-google-plus
                    li
                        a(href="#" target="_balnk")
                            i.fa.fa-youtube-play
                    li
                        a(href="#" target="_balnk")
                            i.fa.fa-odnoklassniki



