
#overlay

#popup1.modal_div
    .modal_close
    .modal_content

        form
            .form-holder
                select(name="device" data-validate="select")
                    option(value="0"   ) Выберите устройство
                    option(value="2") устройство 2
                    option(value="3") устройство 3

            .form-holder
                select(name="city" data-validate="select")
                    option(value="0"   ) Ваш город
                    option(value="2") Киев
                    option(value="3") Черкассы

            input.link_form(type="submit" value="Показать")



#popup2.modal_div
    .modal_close
    .modal_content
        a.link_form(href="#") добавить организацию
        a.link_form(href="#") ДОБАВИТЬ СЕРВИС

#popup3.modal_div
    .modal_close
    .modal_content
        form
            .row.inline-layout
                .form-holder.required
                    label Название организации (бренд/вывеска) *
                    input(type="text" placeholder="example" name="name_company" data-validate="name")
                .form-holder
                    label ФИО контактного лица
                    input(type="text" placeholder="example" name="name" data-validate="name")
            .row.inline-layout
                .form-holder
                    label Сайт компании (необязательно)
                    input(type="text" placeholder="example" name="site" data-validate="empty")
                .form-holder
                    label Телефон контактного лица
                    input(type="text" placeholder="example" name="phone" data-validate="phone-default")
            .row.inline-layout
                .form-holder.required
                    label Контактный телефон организации *
                    input(type="text" placeholder="example" name="phone2" data-validate="phone")
                .form-holder
                    label E-mail (основной)
                    input(type="text" placeholder="example" name="email" data-validate="default")
            .form-holder.required
                label Главный адрес организации *
                textarea(placeholder="Текст:" name="message" data-validate="empty")
            input.link_form(type="submit" value="Далее")


#device_problem.modal_div
    .modal_close
    .modal_content
        h3 Выбор проблемы
        .content-overflow
            .list_problems.inline-layout.col-4
                .item
                    h4 Общие проблемы
                    .list_problem
                        a(href="#" ) Не работает Wi-Fi
                        a(href="#" ) Не включается
                        a(href="#" ) Попала влага
                        a(href="#" ) Забыт пароль
                        a(href="#" ) Зависает (обновить ПО)
                        a(href="#" ) Просит Itunes
                .item
                    h4 Общие проблемы
                    .list_problem
                        a(href="#" ) Не работает Wi-Fi
                        a(href="#" ) Не включается
                        a(href="#" ) Попала влага
                        a(href="#" ) Забыт пароль
                        a(href="#" ) Зависает (обновить ПО)
                        a(href="#" ) Просит Itunes
                .item
                    h4 Общие проблемы
                    .list_problem
                        a(href="#" ) Не работает Wi-Fi
                        a(href="#" ) Не включается
                        a(href="#" ) Попала влага
                        a(href="#" ) Забыт пароль
                        a(href="#" ) Зависает (обновить ПО)
                        a(href="#" ) Просит Itunes
                .item
                    h4 Общие проблемы
                    .list_problem
                        a(href="#" ) Не работает Wi-Fi
                        a(href="#" ) Не включается
                        a(href="#" ) Попала влага
                        a(href="#" ) Забыт пароль
                        a(href="#" ) Зависает (обновить ПО)
                        a(href="#" ) Просит Itunes
                .item
                    h4 Общие проблемы
                    .list_problem
                        a(href="#" ) Не работает Wi-Fi
                        a(href="#" ) Не включается
                        a(href="#" ) Попала влага
                        a(href="#" ) Забыт пароль
                        a(href="#" ) Зависает (обновить ПО)
                        a(href="#" ) Просит Itunes
                .item
                    h4 Общие проблемы
                    .list_problem
                        a(href="#" ) Не работает Wi-Fi
                        a(href="#" ) Не включается
                        a(href="#" ) Попала влага
                        a(href="#" ) Забыт пароль
                        a(href="#" ) Зависает (обновить ПО)
                        a(href="#" ) Просит Itunes
                .item
                    h4 Общие проблемы
                    .list_problem
                        a(href="#" ) Не работает Wi-Fi
                        a(href="#" ) Не включается
                        a(href="#" ) Попала влага
                        a(href="#" ) Забыт пароль
                        a(href="#" ) Зависает (обновить ПО)
                        a(href="#" ) Просит Itunes
                .item
                    h4 Общие проблемы
                    .list_problem
                        a(href="#" ) Не работает Wi-Fi
                        a(href="#" ) Не включается
                        a(href="#" ) Попала влага
                        a(href="#" ) Забыт пароль
                        a(href="#" ) Зависает (обновить ПО)
                        a(href="#" ) Просит Itunes

                .item
                    h4 Общие проблемы
                    .list_problem
                        a(href="#" ) Не работает Wi-Fi
                        a(href="#" ) Не включается
                        a(href="#" ) Попала влага
                        a(href="#" ) Забыт пароль
                        a(href="#" ) Зависает (обновить ПО)
                        a(href="#" ) Просит Itunes
                .item
                    h4 Общие проблемы
                    .list_problem
                        a(href="#" ) Не работает Wi-Fi
                        a(href="#" ) Не включается
                        a(href="#" ) Попала влага
                        a(href="#" ) Забыт пароль
                        a(href="#" ) Зависает (обновить ПО)
                        a(href="#" ) Просит Itunes
                .item
                    h4 Общие проблемы
                    .list_problem
                        a(href="#" ) Не работает Wi-Fi
                        a(href="#" ) Не включается
                        a(href="#" ) Попала влага
                        a(href="#" ) Забыт пароль
                        a(href="#" ) Зависает (обновить ПО)
                        a(href="#" ) Просит Itunes
                .item
                    h4 Общие проблемы
                    .list_problem
                        a(href="#" ) Не работает Wi-Fi
                        a(href="#" ) Не включается
                        a(href="#" ) Попала влага
                        a(href="#" ) Забыт пароль
                        a(href="#" ) Зависает (обновить ПО)
                        a(href="#" ) Просит Itunes



#add_feedback.modal_div
    .modal_close
    .modal_content
        form
            h3 Оставить отзыв
            .row.inline-layout
                .form-holder
                    label Ваше имя
                    input(type="text"  name="name" data-validate="name")
                .form-holder
                    label Ваш телефон
                    input(type="text"  name="phone" data-validate="phone")
            .row.inline-layout
                .form-holder
                    label.plus Достоинства
                    textarea( name="message_plus" data-validate="default")
                .form-holder
                    label.minus Недостатки
                    textarea( name="message_minus" data-validate="default")
            .form-holder.rating_info.inline-layout.col-2
                label Оцените качество ремонта:
                select.rating
                    option(value="1") 1
                    option(value="2") 2
                    option(value="3") 3
                    option(value="4") 4
                    option(value="5") 5

            .form-holder.rating_info.inline-layout.col-2
                label Оцените отношение к клиенту:
                select.rating
                    option(value="1") 1
                    option(value="2") 2
                    option(value="3") 3
                    option(value="4") 4
                    option(value="5") 5

            .form-holder.rating_info.inline-layout.col-2
                label Оцените скорость ремонта:
                select.rating
                    option(value="1") 1
                    option(value="2") 2
                    option(value="3") 3
                    option(value="4") 4
                    option(value="5") 5

            input.link_form(type="submit" value="Далее")