header
	.header.fixed
	.header.no-scroll
		.container
			.block-text
				h3 ремонт
					span телефонов и планшетов

				p лучшие севисные центры&nbsp;
					span Аpple&nbsp;
					| Украины
				p.title выезд мастера к вам&nbsp;
					span на дом

