doctype html
html(lang='ru')
	head
		title XFIX

		include ./partials/head.jade

	body

		include ./partials/noscript.jade
		include ./partials/navigation.jade
		main
			include ./partials/logo-category.jade
			include ./partials/block_calculation.jade
			include ./partials/block_tabs.jade
			include ./partials/block_advantages.jade
			include ./partials/block_devices.jade
			include ./partials/block_repair.jade
			include ./partials/block_form_master.jade
			include ./partials/block_appliances.jade

		include ./partials/footer.jade
		include ./partials/modals.jade

	include ./partials/scripts.jade
