doctype html
html(lang='ru')
	head
		title XFIX

		include ./partials/head.jade

	body

		include ./partials/noscript.jade
		include ./partials/navigation_item.jade
		main

			include ./partials/block_breadcrumbs.jade


		include ./partials/footer.jade
		include ./partials/modals.jade

	include ./partials/scripts.jade
